.header {
    background-color: rgb(56, 55, 55);
  
    min-width: 96.5%;
    color: white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: end;
    position: fixed;
    bottom: 10px; 
}

.header__elem {
    background-color: rgb(56, 55, 55);
    display: flex;
    flex-direction: row;
    cursor: pointer;
    
}

.header__elem:hover {
    color: gray;
}